

font

body {
  padding: 0;
  margin: 0;
  background-color: pink;
  font-family: "Dancing Script", cursive;
}

header {
  background-image: url("https://i.pinimg.com/originals/03/70/39/037039f2c90a71e8107f012fb0364313.jpg");
  width: 100vw;
  height: 50vh;
  margin-bottom: 50px;
  border-radius: 200px;
}

h1 {
  margin: 0px;
  padding: 10px;
  width: auto;
  text-align: center;
  color: crimson;
  font-size: 80px;
  padding-top: 150px;
}

h2 {
  text-align: center;
  color: crimson;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: 1px solid #000;
  font-size: 50px;
  padding: 10px 15px;
  color: crimson;
  cursor: pointer;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}