article {

background-image: url("https://64.media.tumblr.com/9a8cfee8d8b8cb1964ef92fd34ac8673/05c19963b3d6a44d-62/s1280x1920/fefee9a5370de848745120e84fdd10be91d96059.jpg");
background-repeat: no-repeat;
background-size: cover;
height: 265px;
width: 828px;

    
}

